    <%= form_for race do |f| %>
    <%= f. collection_select :car_id, Car.all, :id, :year %>
    <%= f. collection_select :car_id, Car.all, :id, :make, include_blank: true %>
    <p><%= f. collection_select :car_id, Car.all, :id, :model %></p>
      <%= f.label "Race Type:" %>
        <%= f.text_field :race_type %>
      <%= f.label "Location:" %>
        <%= f.text_field :location %>
      <%= f.label "Date (MM/DD/YYYY):" %>
        <%= f.text_field :date %>
      <%= f.label "Number Placed 1-300:" %>
        <%= f.number_field :placement %>
      <%= f.submit %>
    <% end %>