<h1>All Completed Races</h1>

<% @races.each do |race|%>
    <p>Race Type: <%=race.race_type %></p>
    <p>Location: <%=race.location %></p>
    <p>Date: <%=race.date %></p>
    <p>Placed: <%=race.placement %></p>
    <p><%= link_to "Edit", race_path(race) %></p>
    <br>
<% end %>