<h1>All Completed Races</h1>
    <%= link_to "Add a Completed Race", new_race_path %>
<br>
<br>
<% @races.each do |race| %>
    <p>Race Type: <%=race.race_type %></p>
    <p>Location: <%=race.location %></p>
    <p>Date: <%=race.date %></p>
    <p>Placed: <%=race.placement %></p>
    <%= link_to "Edit", edit_race_path(race) %> | 
    <%= link_to "Delete", race_path(race), method: :delete %>
    <br>
    <br>
<% end %>