<h2><%= @race.race_type %> Race</h2>
    <p>Location: <%=@race.location %></p>
    <p>Date: <%=@race.date %></p>
    <p>Placed: <%=@race.placement %></p>
    <h3>The Car Used in this Race</h3>
    <p><%= @race.car.full_name %></p>
<%= link_to "Back to All Races", races_path %>
