<h1><%= @race.race_type %> Race</h1>
    <p>Location: <%=@race.location %></p>
    <p>Date: <%=@race.date %></p>
    <p>Placed: <%=@race.placement %></p>
    <%= link_to "Back to All Races", races_path %>
