<h2><%= @race.race_type %> Race</h2>
    <p>Location: <%=@race.location %></p>
    <p>Date: <%=@race.date %></p>
    <p>Placed: <%=@race.placement %></p>
    <%= link_to "Delete", race_path(@race), method: :delete %> | 
    <%= link_to "Edit", edit_race_path(@race) %> | 
<%= link_to "Back to All Races", races_path %>
