<h2>Welcome, <%= current_driver.username %>!</h2>
<h1>Cars</h1>
    <%= link_to "Add a New Car", new_car_path %>
<br>
<br>
<% @cars.each do |car| %>
    <p>Year: <%=car.year %></p>
    <p>Make: <%=car.make %></p>
    <p>Model: <%=car.model %></p>
    <%= link_to "View", car_path(car) %>
    <br>
    <br>
<% end %>