<h1>Vehicle Info</h1>
<body>
    <p>Year: <%=@car.year %></p>
    <p>Make: <%=@car.make %></p>
    <p>Model: <%=@car.model %></p>
    <h3>Who has driven this car?</h3>
    <ul>
       <% @car.drivers.uniq.each do |driver| %>
       <li><%= link_to driver.username, driver_path(driver) %></li>
       <% end %>
    </ul> 
<%= link_to "View All Car's Races", car_races_path(@car) %> | 
<%= link_to "Log a new Race", new_car_race_path(@car) %> | 
<%= link_to "Back to All Cars", cars_path %> 
</body>
