<!DOCTYPE html>
<html>
  <head>
    <title>Drivers App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "View All Cars", cars_path %> | or |
    <%= link_to "Completed Races", races_path %>
    <%= yield %>
  </body>
</html>
